@use "./variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;300;400;500;700;900&display=swap');

* { box-sizing: border-box; }
html, body { height: 100%; }

body {
  margin: 0;
  font-family: "Vazirmatn", "Segoe UI", Tahoma, sans-serif; // فونت اصلی
  background: $color-bg; // از متغیر استفاده می‌کنه
  color: $color-text;   // از متغیر استفاده می‌کنه
  direction: rtl;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button, input, textarea, select {
  font-family: "Vazirmatn", Tahoma, sans-serif; // فونت ورودی‌ها
}

a { text-decoration: none; color: inherit; }
img { max-width: 100%; display: block; }

