//front\rahnikookari-front\src\styles\global.scss

@use "./variables" as *;

* { box-sizing: border-box; }
html, body { height: 100%; }

body {
  margin: 0;
  font-family: Arial, "Segoe UI", Arial, sans-serif;
  background: $color-bg;
  color: $color-text;
  direction: rtl;
  line-height: 1.6;
}


button, input, textarea, select {
  font-family: inherit;
}

a { text-decoration: none; color: inherit; }
img { max-width: 100%; display: block; }
