@use "../../../styles/variables" as *;
.header {
  background: $color-header; 
  padding: 15px 0;
  color: white;
  font-size: 20px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__menu-btn {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }

  &__nav {
    display: flex;
    gap: 20px;
    cursor: pointer;
    font-weight: 500;
  }

  &__left {
    display: flex;
    gap: 10px;
  }
}
