//front\rahnikookari-front\src\components\layout\Header\ProfileDropdown.scss
@use "../../../styles/variables" as *;

.profile-dropdown {
  position: absolute;
  top: calc(100% + 10px);
  left: 0; 
  background-color: white;
  min-width: 220px;
  border-radius: $radius-md;
  box-shadow: $shadow-md;
  padding: 8px;
  z-index: 9999;
  border: 1px solid $color-border;
  animation: slideIn 0.2s ease-out;

  &__divider {
    margin: 8px 0;
    border: 0;
    border-top: 1px solid $color-border;
  }

  &__mobile-nav {
    @media (min-width: 992px) {
      display: none; // در دسکتاپ مخفی شود
    }
  }

  &__item {
    padding: 12px 16px;
    color: $color-text;
    font-size: 14px;
    cursor: pointer;
    text-align: right;
    border-radius: $radius-sm;
    transition: all 0.2s;

    &:hover {
      background-color: rgba($color-header, 0.08);
      color: $color-header;
    }

    &.highlight {
      color: $color-btn;
      font-weight: bold;
    }

    &.logout {
      color: #dc2626;
    }
  }
}
